# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/
